/* You can add global styles to this file, and also import other style files */
label{
  width: 100%;
}
button:disabled{
  cursor: not-allowed;
}
.display-4{
  display: block;
  font-size: 2rem !important;
  margin-bottom: 1rem;
}
